<div class="container-xl">
	<div class="table-responsive">
		<div id="myalert" style="display: none;" class="alert alert-success col-12 text-center ml-auto" role="alert">
			Updated Successfully!
		  </div>
		<div class="table-wrapper">
			<div class="table-title">
				
				<div class="row">
					
					<div class="col-sm-6">
						<h2>Manage <b>Orders</b></h2>
						
					</div>
				

					<div class="col-sm-6">
						<a href="#addOrderModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Order</span></a>
						<a href="#deleteOrderModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>OrderId</th>
						<th>Name</th>
						<th>Email</th>
						<th>Address</th>
						<th>Phone</th>
						<th>Actions</th>
					</tr>
				</thead>

				<tr *ngIf="(orders.length==0);else empList">
					<th colspan="6"> No data found<th>
				</tr>

				<ng-template #empList>
					<tbody *ngFor="let order of orders">

						<tr>
							<td>
								{{order.id}}
							</td>
							<td>{{order.orderName}}</td>
							<td>{{order.totalPrice}}</td>
							<td>{{order.status}}</td>
							<td>{{order.customerId}}</td>
							<td>
								<a (click)="editOrder(order)" href="#editOrderModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
								<a (click)="editOrder(order)"  href="#deleteOrderModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
							</td>
						</tr>
						
					</tbody>
				</ng-template>
				
			</table>
		
		</div>
	</div>        
</div>
<!-- Edit Modal HTML -->
<div id="addOrderModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="createOrder()">
				<div class="modal-header">						
					<h4 class="modal-title">Add Order</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>OrderName</label>
						<input name="orderName" [(ngModel)]="newOrder.orderName" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>TotalPrice</label>
						<input name="totalPrice" [(ngModel)]="newOrder.totalPrice" type="number" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Status</label>
						<input name="status" [(ngModel)]="newOrder.status" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>CustomerId</label>
						<input type="number" name="customerId" [(ngModel)]="newOrder.customerId" class="form-control" required>
					</div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input id="addBtn" type="submit" class="btn btn-success" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editOrderModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="updateOrder()">
				<div class="modal-header">						
					<h4 class="modal-title">Edit Order</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>OrderName</label>
						<input name="orderName" [(ngModel)]="updatedOrder.orderName" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>TotalPrice</label>
						<input name="totalPrice" [(ngModel)]="updatedOrder.totalPrice" type="number" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Status</label>
						<input name="status" [(ngModel)]="updatedOrder.status" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>CustomerId</label>
						<input type="number" name="customerId" [(ngModel)]="updatedOrder.customerId" class="form-control" required>
					</div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input id="editBtn" type="submit" class="btn btn-info" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteOrderModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="deleteOrder(updatedOrder.id!)">
				<div class="modal-header">						
					<h4 class="modal-title">Delete Order #{{updatedOrder.id}}</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete these Records?</p>
					<p class="text-warning">Order Name: <small>{{updatedOrder.orderName}}</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input id="deleteBtn" type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>
